body {
    background-color: #0C4A60;
}

nav {
    display: flex;
    justify-content: space-between;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-logo {
    margin: 16px;
    color: #ABDFF1;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 2.5px;
}

.color-lens {
    color: #FFFFFF;
    margin-top: 0px;
    margin-right: 20px;
    inherits: large;
}

.resume {
    background: linear-gradient(90deg, #ABDFF1 0%, #E1DDDB 100%);
    font-family: 'Montserrat', sans-serif;
    color: #0C4A60;
    border: none;
    font-size: 13px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 16px;
    margin-left: 0px;
    text-decoration: none;
}

.info {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.name {  
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    text-decoration: none ;
    margin-bottom: 0px;
}

.name-underline {
    margin: 0px;
    width: 230px;
}

.ocupation {
    margin-top: 15px;
    color: #ABDFF1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.ocupation-message {
    color: #E1DDDB;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    letter-spacing: 1px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    width: 250px;
    border-radius: 100%;
    margin: 15px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-top: 30px;
    margin-left: 20px;
}



.blue {
    color: #0C4A60;    
}

.orange {
    color: #EF6C33;    
   }

.light-blue {
    color: #ABDFF1;    
}

.light-grey {
    color: #E1DDDB;    
}

.subdued-succulent {
    color: #d1dddb;
    color: #85b8cb;
    color: #1d6a96;
    color: #283b42;
}