body {
    background-color: #0C4A60;
}

nav {
    display: flex;
    justify-content: space-between;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    margin: 16px;
    color: #ABDFF1;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 2.5px;
}

.dark-mode {
    color: #E1DDDB;
    margin-top: 0px;
    margin-right: 20px;
    inherits: large;
}

.resume {
    background: linear-gradient(90deg, #ABDFF1 0%, #E1DDDB 100%);
    font-family: 'Montserrat', sans-serif;
    color: #0C4A60;
    border: none;
    font-size: 13px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 16px;
    margin-left: 0px;
    text-decoration: none;
}

.info {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.ocupation {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ABDFF1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.ocupation-message {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    color: #E1DDDB;
    font-family: 'Montserrat', sans-serif;

    letter-spacing: 4px;
}

.ocupation-message-orange {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #EF6C33;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.blue {
    color: #0C4A60;    
}

.orange {
    color: #EF6C33;    
   }

.light-blue {
    color: #ABDFF1;    
}

.light-grey {
    color: #E1DDDB;    
}

.subdued-succulent {
    color: #d1dddb;
    color: #85b8cb;
    color: #1d6a96;
    color: #283b42;
}